Flask==2.0.1
Flask-Cors==3.0.10
matplotlib==3.4.2
matplotlib-inline==0.1.2
tf-keras-vis==0.7.2
tensorflow-cpu==2.5.0
tensorflow-estimator==2.5.0
numpy==1.19.5
imageio==2.9.0
scikit-image==0.18.1
scikit-learn==0.24.2
scipy==1.6.3
opencv-python==4.5.2.54
